In [3]:
import numpy as np
import pandas as pd
deep_dive=pd.read_excel(r"C:\Users\91771\Downloads\Case Study - Deep Dive Analysis.xlsx",sheet_name="input_data")
deep_dive

,Zone,Region,Manufacturer,Brand,Subbrand,Item,PackSize,Packtype,month,Value Offtake(000 Rs)
0,East,Rural,GLAXOSMITHKLINE,HORLICKS,HORLICKS LITE,HORLICKS LITE 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,4883.050
1,East,Rural,GLAXOSMITHKLINE,HORLICKS,WOMENS HORLICKS,WOMENS HORLICKS 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,4460.013
2,East,Rural,GLAXOSMITHKLINE,BOOST,BOOST SPORTS,BOOST SPORTS 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,3230.254
3,East,Rural,GLAXOSMITHKLINE,HORLICKS,HORLICKS HEALTH AND NUTRITION,HORLICKS HEALTH AND NUTRITION 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,4548.961
4,East,Rural,GLAXOSMITHKLINE,BOOST,BOOST HEALTH AND ENERGY,BOOST HEALTH AND ENERGYÂ 500 GMS REFILL PACK,500 GMS,REFILL PACK,2019-01-01,2993.130
...,...,...,...,...,...,...,...,...,...,...
1275,West,Urban,NESTLE,MILO,MILO ACTIVE GO,MILO ACTIVE GO 400 GMS REFILL PACK,400 GMS,REFILL PACK,2019-05-01,954.106
1276,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_1,400 GMS,REFILL PACK,2019-05-01,361.682
1277,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_2,400 GMS,REFILL PACK,2019-05-01,352.389
1278,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_3,400 GMS,REFILL PACK,2019-05-01,320.917
1279,West,Urban,NESTLE,MILO,MILO ACTIVE GO,NESTLE_item_4,400 GMS,REFILL PACK,2019-05-01,245.041

In [4]:
#step1
df1=deep_dive.groupby('month')['Value Offtake(000 Rs)'].sum()
df1
#there is  drop

month
2019-01-01    266801.042
2019-02-01    260663.817
2019-03-01    239583.087
2019-04-01    218286.073
2019-05-01    240328.269
Name: Value Offtake(000 Rs), dtype: float64

In [5]:
if df1.all():
    print("Yes")
else:
    print("There is no dop in the sales for a particular manufacture in a specified time period")

Yes

In [6]:
temp_data = pd.pivot_table(deep_dive,
              index='month',
              columns='Manufacturer',
              values='Value Offtake(000 Rs)',
              aggfunc=np.sum)
temp_data

Manufacturer      AMUL  GLAXOSMITHKLINE  KRAFT FOODS   MONDELEZ     NESTLE
month
2019-01-01    1525.574       201960.379     8865.438  43212.808  11236.843
2019-02-01    1807.457       197328.072     9815.516  42275.242   9437.530
2019-03-01    1755.112       176568.680     7318.586  42755.233  11185.476
2019-04-01    1955.994       158163.671     6751.418  41421.018   9993.972
2019-05-01    1410.972       176433.256     7617.328  44130.848  10735.865

In [7]:
import datetime
deep_dive['new_month']=deep_dive['month'].dt.strftime("%B%Y")
deep_dive['new_month']

0       January2019
1       January2019
2       January2019
3       January2019
4       January2019
           ...
1275        May2019
1276        May2019
1277        May2019
1278        May2019
1279        May2019
Name: new_month, Length: 1280, dtype: object

In [8]:
deep_dive['target_period']=deep_dive['Value Offtake(000 Rs)']
deep_dive['target_period'].head()

0    4883.050
1    4460.013
2    3230.254
3    4548.961
4    2993.130
Name: target_period, dtype: float64

In [9]:
deep_dive['reference_period']=deep_dive['Value Offtake(000 Rs)']
deep_dive['reference_period']

0       4883.050
1       4460.013
2       3230.254
3       4548.961
4       2993.130
          ...
1275     954.106
1276     361.682
1277     352.389
1278     320.917
1279     245.041
Name: reference_period, Length: 1280, dtype: float64

In [10]:
a=deep_dive[['new_month','target_period','Manufacturer']]
b=a[a['new_month'].isin(['May2019']) & a['Manufacturer'].isin(['AMUL'])]
e=b['target_period'].sum()
e

1410.972

In [11]:
c=deep_dive[['new_month','reference_period','Manufacturer']]
d=c[c['new_month'].isin(['April2019']) & c['Manufacturer'].isin(['AMUL'])]
f=d['reference_period'].sum()
f

1955.9940000000001

In [12]:
def func(Manufacturer="AMUL",target_period=e,reference_period=f):
    growth_rate=(target_period-reference_period)*100/reference_period
    print(growth_rate)
func()

-27.864195902441427

In [21]:
F=e
growth_rate=-27.864195902441427

In [2]:
total_value_sales=deep_dive['Value Offtake(000 Rs)'].sum()
total_value_sales

1225662.2880000002

In [17]:
contribution=F/total_value_sales
contribution

0.0011511914936229153

In [23]:
product=growth_rate*contribution
product

-0.03207702529953306

In [31]:
growth_rate_percentage = "{0:.0%}".format(growth_rate/100)
print(growth_rate_percentage)

-28%

In [46]:
contribution_percentage = "{:.2%}".format(contribution)
print(contribution_percentage)

0.12%

In [48]:
product_percentage = "{:.2%}".format(product)
print(product_percentage)

-3.21%

In [64]:
#ignore this
deep_dive1=pd.DataFrame(columns=[growth_rate_percentage,contribution_percentage,product_percentage])
deep_dive1

Empty DataFrame
Columns: [-28%, 0.12%, -3.21%]
Index: []